* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1e1d2b;
    font-family: "Poppins", sans-serif;
}

.header {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: xx-large;
    padding: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.app-container {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    background-color: #252736;
    padding: 20px;
    border-radius: 20px;
}

.color-picker-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.color-picker-container > div {
    font-family: "Poppins", sans-serif;
    color: white;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    width: 50px;
    height: 50px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 100%;
    border: none;
}

#rainbow-button:hover {
    background-image: linear-gradient(
        to right,
        #e7484f,
        #e7484f 16.65%,
        #f68b1d 16.65%,
        #f68b1d 33.3%,
        #fced00 33.3%,
        #fced00 49.95%,
        #009e4f 49.95%,
        #009e4f 66.6%,
        #00aac3 66.6%,
        #00aac3 83.25%,
        #732982 83.25%,
        #732982 100%,
        #e7484f 100%
    );
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.left-container > button {
    background-color: #0177fb; /* Green */
    border: none;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.grid-container {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color: #252736;
    cursor: none;
}

.grid-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 0%;
    flex: 1 1 auto;
}

.grid-element {
    height: auto;
    width: auto;
    flex: 1 1 auto;
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.footer {
    background-color: #252736;
    border-radius: 20px;
    width: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px 40px;
    color: white;
}

.footer > a > svg {
    fill: white;
    display: flex;
}
